* {
    margin: 0 ;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color:azure;
    text-decoration: none; /*tirar o sublinhado*/
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around; /* Espaço ao redor seja a metado do espaço entre eles*/
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh; /* VH ou Viewport Height é uma unidade responsiva que se 
    adapta a altura da janela de visualização do usuário*/ 
}

main {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.containerExter {
position: relative;
width:100%;
height:450px;

}
.containerCenter {
    left:50%;
    top:50%;
    margin-left:-100px; /* Metade do valor da Largura */
    margin-top:-50px; /* Metade da valor da Altura */
    position:absolute;
    width: auto; /* Valor da Largura */
    height: auto; /* Valor da Altura */
    color:#fff;
    background-color: #23232e;
    opacity: 75%;
    font-size: 23px;
}

.form-control {
    outline: unset;
    padding: 8px;
    width: 250px;
    border: 1px solid #23232e;
    border-radius: 8px;
}
.form-control:focus{
    opacity: 85%;
    transition: 0.3s;
}

.btn-control {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    outline: unset;
    padding: 8px;
    width: 270px;
    border: 2px solid #23232e;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}
.btn-control:focus{
    background-image: linear-gradient(to left,rgb(0, 92, 197), rgb(90, 20, 220));
    opacity:85%;
    transition: 0.3s;
    border: 1px solid #fff;
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    color:azure;
}

.mobile-menu {
    cursor: pointer; /*mostrar a mãozinha mouse*/
    display: none; /*pois ele só aparecerar em telas menores*/
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background:azure;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right:0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); /*Efeito para transição, porém gera um block
        que só pode ser resolvido com a propriedade overflow-x: hidden; no body*/
    }
}

.nav-list li {
    margin-left: 0;
    opacity: 0; /*Pois iremos fazer a animação*/
}

.mobile-menu {
    display: block;

}

.nav-list.active{ /*.active classe que adicionamos com javascript*/
    transform: translateX(0);
}

footer {
    text-align: center;
    background-color: #23232e;
    color:#fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
}